table{
    text-align: center;
    border-collapse: collapse;
    border-color: black;
}



#updateClient{
    padding-top: 2%;
}

#updateAudience{
    padding-top: 2%;
}

#updateMessage{
    padding-top: 2%;
}