<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <ul>
        <li>
          <label for="ID"> ID: </label>
          <input type="number" id="id" name="id" />
        </li>
        <li>
          <label for="Dueño"> Dueño: </label>
          <input type="text" id="owner" name="owner" />
        </li>
        <li>
          <label for="Capacidad"> Capacidad: </label>
          <input type="number" id="capacity" name="capacity" />
        </li>
        <li>
          <label for="Categoria"> Categoria: </label>
          <input type="number" id="category" name="category" />
        </li>
        <li>
          <label for="Nombre"> Nombre: </label>
          <input type="text" id="name" name="name" />
        </li>
        <li>
          <input type="submit" value="Enviar" />
        </li>
      </ul>
    </form>
  </body>
</html>
